/node_modules
/public/build
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
user.ini
phpunit.xml
.idea
*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.vscode
.agent
bash.exe.stackdump
translate_controllers.sh
